

## Pandas Series

Vamos a ver las características principales de esta biblioteca 
que "recubre" numpy con estructuras de alto nivel y herramientas que
failitan el tratamiento de datos. Representa una fila o una columna de un dataframe

Rafael Caballero


### Índice
[Creación](#Creación)<br>
[Índices](#Índices)<br>
[Atributos](#Atributos)<br>
[Valores temporales](#Valores-temporales)<br>

### Creación

La forma más sencilla: a partir de arrays unidimensionales de cualquier tipo admitido por Numpy

In [ ]:
import pandas as pd
from pandas import Series

serie = Series([1.0, 7., 5., 3.1]) # creación
serie

Ya vemos algo interesante; salen 2 columnas, el valor que hemos puesto pero antes su posición. Es lo que vamos a llamar índice y se puede ver como un "nombre" del valor.

### Índices

Por tanto la columna de la izquierda contiene los índices. Un error muy común es crer que el índice que simplemente es la posición de cada elemento, como parece a primera vista

In [ ]:
print(serie[3]) # esto es un valor
print(serie[0:2]) # esto es una serie, e incluye el índice

Pero son un identificador de fila, que puede tomar cualquier valor básico

In [ ]:
serie = Series(["Bertoldo", "Peláez", "C/Jazmín", "999999"],
               ["nombre",    "apellido","calle",  "teléfono"]) # creación con ind.
serie

In [ ]:
print(serie[3],serie['calle'])

In [ ]:
print(serie['nombre':'calle'])

In [ ]:
print(serie[0:3])

In [ ]:
serie = Series([1.0, 7., 5., 3.1],[5,6,7,8]) # creación con ind.
serie[7]

El índice no debe confundirse con una *clave única*, puede repetirse y en ese caso devuelve una serie

In [ ]:
serie = Series([1.0, 7., 5., 3.1],["d","d","b","d"]) # creación con ind.
serie

In [ ]:
serie['d']

In [ ]:
print(type(serie['b']))
print(type(serie['d']))

En ocasiones puede haber confusión entre índice y posición

In [ ]:
serie = Series(data=[1.0, 7., 5., 3.1],index=[1,1,3,1]) 
serie

In [ ]:
serie[1] # accede por índice, pero es confuso

La ambigüedad se resuelve mediante los atributos:

    - `iloc` nos permite acceder por posición
    - `loc` que permite acceder por índice

In [ ]:
serie.iloc[1]

In [ ]:
serie.loc[1]

Por tanto una *Serie* tiene dos componentes: los valores y sus índice

In [ ]:
print(serie.values, type(serie.values))
print(serie.index, type(serie.index))

Ya que una serie es un array Numpy; podemos usar todo lo que vimos al hablar de esta bibliteca

*Ej.* Mostrar todos los elementos de `serie` mayores que 3

In [ ]:
filtro = serie>3
serie[filtro]

In [ ]:
serie.loc[filtro] # equivalente

Cambiar por 0 todos los valores de `serie` con índice 'd'

In [ ]:
serie['d']=0
serie

En general casi todas las operaciones se refieren a los valores y no a los índices. Solo unas pocas, como `in` se refieren a los índices, lo que puede resultar confuso. 

Para entenderlo podemos pensar en una Serie como un diccionario, con los índices las claves.

In [ ]:
print(0 in serie, 0 in serie.values)
print('d' in serie)

In [ ]:
sdata = {'Madrid': 6507184, 'Barcelona': 5609350, 
         'Valencia': 2547986, 'Sevilla': 1939887, 
         'Alicante': 1838819, 'Málaga':1641121  }
ciudades = Series(sdata)
ciudades

**Ej.** Nombres de ciudades con más de 2 millones de habitantes

In [ ]:
filtro = ciudades>2000000
ciudades[filtro].values

Tiene que haber tantos índices como valores

In [ ]:
s2 = Series([4.4,5.5,5],['a','b'])
s2

In [ ]:
s2 = Series([4.4,5.5,5],index = ['d','b','c','a'])
s2

Con los diccionarios se pueden hacer cosas un poco más extrañas, que provocan la aparición de valores missing

In [ ]:
sdata = {'Madrid': 6507184, 'Barcelona': 5609350, 
         'Valencia': 2547986, 'Sevilla': 1939887, 
         'Alicante': 1838819, 'Málaga':1641121  }
ciudades2 = Series(sdata, ['Málaga','Sevilla','Móstoles'])
ciudades2

Los predicados `pd.isnull` (método `isnull`) y `pd.notnull` (método `notnull`) permiten devuelve una Serie (o un DataFrame) con valores booleanos para señalar los valores perdidos

In [ ]:
print(pd.isnull(ciudades2),"\n",
      ciudades2.isnull(),type(pd.isnull(ciudades2)))

**Ej.** Crear un objeto tipo Series que sea una copia de  `ciudades2` pero con los valores missing puestos a 0

In [ ]:
ciudades3 = ciudades2.copy()
ciudades3[ciudades2.isnull()]=0
print(ciudades3,"\n",ciudades2)

Los índices se usan para *alinear* los dataframes/series

In [ ]:

ciudades + ciudades3

**Ej.** ¿Qué resultado dará el siguiente código?

In [ ]:
a = Series([0,1,2,3])
b = Series(range(4),range(3,-1,-1))
a

In [ ]:
b

In [ ]:
a+b

In [ ]:
b+a

**Ej.** ¿Qué podemos hacer con lo ya visto para sumar componente a componente?

In [ ]:
a.values+b.values

Otra posibilidad es modificar los índices de `b`

In [ ]:
b.index = range(4)
a+b

El tener los índices en orden poco habitual cuando son numéricos puede dar lugar a confusión

In [ ]:
b = Series(range(4),['d','c','b','a'])
b

In [ ]:
b['a'],b['b']

In [ ]:
b['d':'b']

### Atributos

Además de los atributos *loc*, *iloc*, *index* y *values*, `Series` tiene otros atributos de interés.<br><br>

Los siguientes permiten comprobar si una serie es monótona, monótona creciente o monótona decreciente

In [ ]:
a = Series(range(4))
a.is_monotonic, a.is_monotonic_decreasing, a.is_monotonic_increasing

In [ ]:
a

En ocasiones es interesante ponerle un nombre a una serie

In [ ]:
a.name = 'Datos autobuses Almendralejo'
a

In [ ]:
a.name

El índice también puede tener su nombre

In [ ]:
a.index.name = "El índice"
a

Recordemos también que tenemos muchos de los atributos que existían en Numpy.

In [ ]:
print(a.shape, "\n", a.size)

### Valores temporales

A veces es útil tener índices que son intervalos temporales

In [ ]:
import numpy as np
idia = pd.date_range('12/30/2022', periods=45)
print(idia)
serie = Series(np.random.randint(30,size=45),idia)
serie

Se puede cambiar la frecuencia:

    Alias 	Description
    B 	business day frequency
    C 	custom business day frequency
    D 	calendar day frequency
    W 	weekly frequency
    M 	month end frequency
    SM 	semi-month end frequency (15th and end of month)
    BM 	business month end frequency
    CBM 	custom business month end frequency
    MS 	month start frequency
    SMS 	semi-month start frequency (1st and 15th)
    BMS 	business month start frequency
    CBMS 	custom business month start frequency
    Q 	quarter end frequency
    BQ 	business quarter end frequency
    QS 	quarter start frequency
    BQS 	business quarter start frequency
    A, Y 	year end frequency
    BA, BY 	business year end frequency
    AS, YS 	year start frequency
    BAS, BYS 	business year start frequency
    BH 	business hour frequency
    H 	hourly frequency
    T, min 	minutely frequency
    S 	secondly frequency
    L, ms 	milliseconds
    U, us 	microseconds
    N 	nanoseconds

In [ ]:
idia = pd.date_range('12/11/2019 16:00:00', periods=15, freq='T')
print(idia)
seriea = Series(np.random.randint(30,size=15),idia)
seriea

In [ ]:
idib = pd.date_range('12/11/2019 16:00:00', periods=15, freq='2T')
print(idib)
serieb = Series(np.random.randint(30,size=15),idib)
serieb

In [ ]:
seriea+serieb

In [ ]:
seriea

In [ ]:
serieb

In [ ]:
seriec = seriea+serieb
seriec

### Estadísticas descriptivas

Series tiene además varias funciones para extraer información numérica como *mean*, *std*, *max*, *min* y muchas otras. Además de por eficiencia se deben utilizar por su buen tratamiento de los valores nulos:

In [ ]:
sum(seriec)/len(seriec)

In [ ]:
seriec.mean()