# A (hopefully) gently introduction to Python 
### by Rafa Caballero - Facultad de Informática - UCM

# 1 Values, variables, operators, predefined functions


You can click on the following index to jump to the section you prefer of just follow the notebook sequentally step by step.


**Index**

[Introduction](#Introduction)

[Hello World](#Hello-World)

[Variables](#Variables)

[Tipos en Python](#Tipos-en-Python)

[Instrucciones](#Instrucciones)

[Operadores](#Operadores)<br>
  &emsp;[Operadores aritméticos](#Operadores-aritméticos)<br>
  &emsp;[Operadores relacionales](#Operadores-relacionales)<br>
  &emsp;[Operadores booleanos](#Operadores-booleanos)<br>
  &emsp;[Operadores de bit](#Operadores-de-bit)<br>
  &emsp;[Operadores para secuencias](#Operadores-para-secuencias)<br>
  &emsp;[Slices](#Slices)<br>

[Funciones predefinidas](#Funciones-predefinidas)<br>
  &emsp;[Conversión entre bases](#Conversión-entre-bases)<br>
  &emsp;[Funciones para secuencias](#Funciones-para-secuencias)<br>

[Importación de bibliotecas](#Importación-de-bibliotecas)


[Entrada de usuario](#Entrada-de-usuario)

## Introduction


#### Notebooks presentation
**Python** is a general purpose programming language. Created by  Guido Van Rossum around 1989, it has become one of the favorite languages for data science.

In these notebooks we are going to present a brief introduction to the basic aspects of the language. They are oriented to students with at least some minimum programming skills, and they only show those aspects of the language needed for data science, leaving out some very interesting an important aspects of the language such as the object oriented approach, module development, etc.

#### Versions
Unfortunately, in a sad day of 2008, Python split in two *dialects* when the version 3 came out. The problem was that the new version was not compatible backwards, taht the programs in Python 2.X are not ensured to run in Python 3.x (neither viceversa, but this is more usual). This got worse when the Python 2.X continued evolving in its own, becaming in fact a different branch of the language. 

However, this dark times of division seems to be finishing and the 3.x versions are today the most employed. Thus in these notebooks we employ the latest version of Python, and this story is only mentioned because you can still find resources of books written in Python 2.x.

Regarding the environments there are many possibilities. These course employes Jupyter notebooks, a project based on JSON formate that allows combining formatted text and code (the code will be in Jupyter in our case but there are Jupyter notebooks for other languages such as R). Jupyter notebooks can be run for instance in Google Colaboratory (and online service for executing Python). If you prefer to work offline the notebooks can be executed for instance in Anaconda.


#### Resources
The notebooks take ideas, examples and structure from many books and online resources that are worth mentioning, not only to give them the deserved credit but to use them as complementary material:

* [https://www.python.org/](https://www.python.org/)   The basic rPython referencia. Includes tutorials and a very detailed help.

* [Rajath Kumar en GitHub](https://github.com/rajathkumarmp/Python-Lectures "Rajath Kumar en GitHub"). Notebooks using the Python 2 syntax (here we employ  Python version 3.x). However the examples and ideas helped me a lot for developing these notebooks.
* *Python for Kids*:  A book for kids, but so well-written and explained that can be used by adults as introduction to the language.

* [The Python tutorial](https://docs.python.org/3/tutorial/index.html "The Python tutorial"). "The" reference. I must say that it is not my most prefered resource (too detailed and not didactic) it is indeed a very complete reference.

* *Learning with Python How to Think Like a Computer Scientist*. A good book to start in Python with the perspective of a data scientist.

## Hello World

In the books and tutorials of programming language there is a long very respected tradiction of starting with a program that just prints "hello world". We cannot refrain from keeping this venerable tradition:

In [1]:
# Click on the button >| Run to run this code
print("Hello World")

Hola Mundo

Here `print` is a predefined function that receive one *argument*: the string to display. Strings can be enclosed in single of double quotes. It is you choice, but remenber to be consistent and start and finish with the same symbol. This becomes useful because allows using the other type of quotes inside as the exmple shows:

In [3]:
print('He said: "Hi Bertold!" and smiled at me')

He said: "Hi Bertold!" and smiled at me

`print` can also be used to print other types of data, not only character strings. For instance, numbers

In [ ]:
print(42)

Lets play: what happens when running the following code and why?

In [4]:
# poner nuestro código por aquí debajo y dar Run para ver el resultado
print(tururu)

NameError: name 'tururu' is not defined

## Variables

In the programming languages the values as often stored in "boxes" which we call *variables*. The "box" has a name (we can choose the name we prefer) and a value.

Internally a variable can be thought as a fragment of memory which contains some value and has an associated name.

Examples:

In [5]:
x = 2
y = 1.2
s = 'if you torture the data long enough, it will confess to anything'

These Python statements create 3 variables
* Una variable con nombre  x,  con valor 2
* Una variable con nombre y, con valor 1.2
* Una variable con nombre xy, con valor *'if you torture the data long enough, it will confess to anything'*.

In [ ]:
print(x+y,s,x*y)

Para jugar

## Tipos en Python

En Python, **todo valor tiene un tipo**, es decir pertenece a un conjunto predefinido de valores.
Decimos que se trata de un lenguaje con tipos, o un lenguaje tipado.

Sin embargo, a diferencia de otros lenguajes como C, C++, C# o Java, en Python no se declaran los tipos explícitamente, los deduce el sistema.

Esto es una comodidad, pero no debe hacernos olvidar que los tipos existen. En concreto, en Python, tenemos:

* Tipos numéricos: int, float, complex 
* Tipo cierto/falso: bool
* Tipo carácter: chr
* Tipo secuencia de caracteres: str
* Tipos secuencia: list, tuple, range
* Tipos secuencia de bnarios: bytes, bytearray, memoryview
* Conjuntos: set, frozenset
* Maps: dict
* Programación orientada a objetos: Clases, objetos
* Programación funcional: funciones lambda

In [ ]:
print(4,type(4))
print(4.0,type(4.0))
print(True,type(True))
print(x,type(x))
print(s,type(s))

**Ej** Intentar adivinar el tipo de la siguiente expresión antes de ejecutar el código

In [ ]:
print(type(3+4.1))

#### Tuplas (introducción)

se le puede dar valor a varias variables simultáneamente:

In [ ]:
x = y = 1

In [ ]:
print(x,y)

Otra forma de hacer lo mismo

In [ ]:
x,y = 1,3
print(x,y)

Esta notación es en realidad una forma abreviada de escribir una *tupla*, una de las estructuras de las que dispone Python para agregar elementos.

La forma no abreviada:

In [ ]:
z = (x,y) = (1,"hola")
print(z,type(z))

Nótese que las tuplas permiten tener elementos ordenados agregados. Otras formas son los strings y las listas. Los tres tipos, strings, listas y tuplas constituyen las *secuencias de Python*

###### Ej. *¿Cómo declarar en una sola línea dos variables x,y y hacer que la primera tome el valor 1 y la segunda el valor 2?*

In [ ]:
# escribir aquí la solución
x,y=1,2

###### Ej. * ¿Qué hará el siguiente código? * (para probarlo quitar el símbolo de comentario #)

In [ ]:
x = y = 5
x += 1
y = y+x-2
print(x,y)

## Instrucciones

Python ejecuta instrucciones en secuencia, de arriba hacia abajo. Cada instrucción ocupa en principio una línea:

In [ ]:
x=3
y=4
print(x+y)

Sin embargo, en ocasiones, queremos que una instrucción ocupe más de una línea, por legilibidad

In [ ]:
a = 1 + 2 + 3 + 
    4 + 5 + 6 + 
    7 + 8 + 9

Para solucionar esto hay varias formas. Una es usar el marcador '\\' para indicar que se continua por la línea de abajo

In [ ]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

También se pueden usar paréntesis, en este caso Python asume que la línea siguiente forma parte de la isma instrucción

In [ ]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)

## Operadores

### Operadores aritméticos

| Símbolo | Función |
|----|---|
| +  | suma |
| -  | resta |
| /  | división |
| %  | módulo |
| *  | multiplicación |
| //  | división entera |
| **  | Potencia |

In [ ]:
1+2000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
200000000-1

In [ ]:
1*2

###### Ej. *¿Por qué sucede esto?*

In [ ]:
1/2

In [ ]:
1/2.0

In [ ]:
1//2

In [ ]:
15%10

En el caso de trabajar con números reales también se puede obtener el resultado de truncar el resultado de la división

In [ ]:
1.9//1.0

### Operadores relacionales

Son operadores que pueden devolver los valores True (cierto) o False (falso). 

En programación llamamos a estos valores (True,False) *valores booleanos* o *valores lógicos*

| Operador | Significado |
|----|---|
| == | True, si los dos operandos son iguales, False e.o.c. |
| !=  | True, si los dos operandos son diferente, False e.o.c. |
| < | menor |
| > | mayor  |
| <=  | menor o igual  |
| >=  | mayor o igual |

In [ ]:
z = 1
print(z)

In [ ]:
z == 1

In [ ]:
z = 1
print(z==2,type(z==2))

In [ ]:
z > 1

Una propiedad muy interesante de los booleanos es que se convierten automáticamente en enteros. False se convierte en 0, y True en 1

In [ ]:
(z==1)+1

**Ej.** escribir una expresión que le asigne a la variable z el mayor valor entre x e y <br>
Pista: (x>y) vale True, o lo que es lo mismo 1, si x es mayor que y

In [ ]:
x = 50
y = 30
# quitar el comentario e abajo y completar
z = (x>y)*x+(x<=y)*y
print(z)


### Operadores booleanos

Sean x e y dos variables booleanas (tienen True o False)

| Símbolo | Significado |
|----|---|
| x and y  | Conjunción: si x es True, entonces y, si no  False |
| x or y  | disyunción lógica: si x es False, entonces y, si no True |
| not(x)  | si x es True false, en otro caso True |

![imagen.png](attachment:imagen.png)

In [ ]:
(3<0) and (3/0 > 5)

In [ ]:
x=5
y=3
w = x>y and x!=6
print(w)

**Ej.** El operador lógico binario or-exclusivo (XOR) está definido como sigue: 

    True xor True  --> False
    True xor False --> True
    False xor True --> True
    False xor False --> False
    
Por desgracia no existe en Python. ¿Qué expresión podemos escribir que simule el valor de xor?

In [ ]:
A = True
B = True 
# lo que se ponga tiene que vale para cualquier valor booleano de A y B
AxorB = A!=B
print(AxorB)

### Operadores de bit

| Símbolo | Significado |
|----|---|
| &  | Conjunción lógica de bits|
| l  | disyunción lógica de bits|
| ^  | XOR de bits |
| ~  | negación |
| >>  | desplazamiento a la derecha |
| <<  | desplazamiento a la izquierda |

In [ ]:
a = 2 #10
b = 3 #11

In [ ]:
print(a | b)
print(bin(a&b))

In [ ]:
5 >> 1

0000 0101 -> 5 

El desplazamiento hacia la derecha introduce ceros por la izquierda

0000 0010 -> 2

In [ ]:
5 << 1

### Operadores para secuencias

En este apartado vemos los operadadores aplicados a las tuplas. Los mismos son aplicables a listas y a strings.

El operador + *concatena* dos secuencias

In [ ]:
(1,2,3) + (4,5)

El operador * repite una secuencia una cantidad de veces

In [ ]:
(1,2,3)*4

Resulta muy útil para ahorrarse escribir en algunas ocasiones:

In [ ]:
print("-"*30)

El operador [i] permite acceder al i-ésimo elemento. Hay que tener en cuenta que el primer elemento es el que ocupa la posición 0, el segundo la posición 1, etc.

In [ ]:
t = (1,2,3)

print(t[0],t[-3])

**Ej.** ¿Qué ocurre aquí?

In [ ]:
(1,2,3)[3]

Una variante es [-i] que permite el acceso desde el final

In [ ]:
x = (1,2,3)
x[-0]

In [ ]:
x[-1]

Los operadores relacionales infijos *in* y  *not in* sirven para determinar si un elemento está o no en una secuencia

In [ ]:
x = (1,2,3)
print(2 in x)
print(5 not in x)
print(5  in x)

### Slices ###
Un tipo especial de operadores son los de "rodaja" o *slice*, que extraen una subsecuencia de la secuencia


    a[start:stop]  # elementos desde start hasta stop -1
    a[start:]      # desde start hasta el final
    a[:stop]       # desde el principio hasta stop-1
    a[:]           # copia la secuencia
    a[start:stop:step] # desde start sin llegar ni pasar de stop, saltando step

In [ ]:
x = (0,1,2,3,4,5,6,7,8,9,10)
print(x[3:6])
print(x[3:7:2])

In [ ]:
x[1:2]

La notación (2,) se hace para indicar que es una tupla, no del número (2). Esto es útil para crear tuplas de un solo elemento:

In [ ]:
y = (3,)
y[0]

**Ej.** ¿Qué resultado producirá el siguiente código? ¿por qué?

In [ ]:
y = (3)
y[0]

**Ej.** ¿Qué resultado producirá el siguiente código? ¿por qué?

In [ ]:
a = (1,2,3,4,5,6,7,8,9,10)
a[2:][4]

## Funciones predefinidas de conversión de tipos

Las funciones, como *print*, agrupan fragmentos de código con un propósito concreto bajo cierto nombre. Para añadir flexibilidad, pueden recibir valores de entrada y devolver valores de salida. Algunas funciones ya están predefinidas en el sistema, pero el usuario también puede definir sus propias funciones, como veremos en otro cuaderno.

Python incluye numerosas funciones predefinidas. Veamos algunas de ellas.

| Función | Significado |
|----|---|
| 0xV  | Convierte el número hexadecimal V en entero |
| hex(x)  | convierte x a su representación hexadecimal, como cadena |
| 0oV  | Convierte el número octal V en entero |
| oct(x)  | convierte x a su representación octal, como cadena |
| 0b  | Convierte el número binario V en entero |
| bin(x)  | convierte x a su representación binaria, como cadena |
| int(x,b)  | Representa el número x en base b|
| int(x)  | Convierte el número real x en su parte entera |
| int(x)  | Convierte el string x en un entero |

### Conversión entre bases

Python considera que un número está escrito en hexadecimal anteponiendo el prefijo **0x**. También se puede convertir un entero en hexadecimal utilizando la función **hex( )**. Ojo porque esta función devuelve el valor  hexadecimal, pero como una cadena de caracteres.

In [ ]:
hex(1714)

In [ ]:
0x6B2

Para representar un valor en octal antepondremos el prefijo **0o**  al valor octal. 

Viceversa, la función **oct( )** permite convertir un valor decimal en octal, pero representado como caracteres.

In [ ]:
oct(8)

In [ ]:
0o10

En el caso de números binarios podemos utilizar el prefijo 0b y la función bin()

In [ ]:
0b01111

In [ ]:
bin(15)

La función **int(x,b)** convierte a entero el número x, que es un string en base b

In [ ]:
print(int('1010',8))
print(int('baba',16))
print(int('0xbaba',16))
print(int('1010',2))
print(int('bigdata',30))

###### Ej. En matemáticas, decimos que f y g son funciones inversas si para todo valor x, se cumple que 

f(g(x)) == x 

y para todo valor y

g(f(y)) == y

¿Cual es la inversa de la función hex(x)? (para pensar, la respuesta no es trivial)

In [ ]:
x = 707258
y = '0xcaba'
# Solución, cambiar f,g por las funciones adecuadas para que se cumpla

# f(g(x)) == x
# g(f(y)) == y

hex(x)

In [ ]:
s= "123"
int(s) + 5

### Funciones para secuencias
En el caso de las secuencias, tenemos algunas funciones predefinidas interesantes. La más conocida es **len(x)** que devuelve el número de elementos de la secuencia *x*

In [ ]:
x = (0,1,2,3,4,5,6,7)
print(len(x),len(x[1:3]))

También se pueden utilizar otras funciones como

- mySeq.*index*(x): devuelve la posición (empezando desde 0) de la primera ocurrencia del valor x en la secuencia mySeq, o un error si no x no aparece.  Si se quiere evitar el error mejor emplear el operador *in* dentro de una instrucción *if*. 

- min(mySeq), max(mySeq): devuelve el menor y el mayor elemento de mySeq, respectivamente.
    
- mySeq.count(x): devuelve el número de apariciones del valor x en mySeq.

In [ ]:
x = ("Si", "me", "quieres", "quiéreme", "entera", "no", "por", "zonas", "de", "luz", "o", "sombra")
x.index("no")

**Ej.** ¿Qué devolverá la siguiente expresión?

In [ ]:
# quitar el comentario de la línea inferior para probar
max(x[1:])

## Importación de bibliotecas

Una de las razones del éxito de Python es la gran cantidad de *bibliotecas* que contienen funciones útiles. Estas bibliotecas ( o módulos, como se denominan en Python) se pueden instalar desde una consola (una consola de Anaconda si estamos en este sistema)

 
    pip install modulo


o, si no tenemos permiso para instalar para todos los usuarios

    pip install --user  modulo
    
En algunos sistemas puede que en lugar de *pip* tengamos que utilizar *pip3*.

El siguiente ejemplo importa (hace visible al programa) los módulos random y math

In [ ]:
import random
import math


for i in range(5):
    print(random.randint(1, 25))

print(math.pi)

Lo de escribir 

        random.randint 

todo el tiempo puede resultar molesto. Si queremos usar solo randint podemos poner:

In [ ]:
from random import randint
from math import pi


for i in range(5):
    print(randint(1, 25))

print(pi)

Una última posibilidad es renombrar para utilizar nombres más cortos. El siguiente ejemplo (que no hace falta entender completamente) utiliza esta posibilidad para dibujar gráficos de barras

In [ ]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt

N = 5
hombre_means = (20, 35, 30, 35, 27)
hombre_std = (2, 3, 4, 1, 2)
mujer_means = (25, 32, 34, 20, 25)
mujer_std = (3, 5, 2, 3, 3)

ind = np.arange(N)  # posición de cada grupo
print('ind',ind)
width = 0.35       # anchura de las barras

fig, ax = plt.subplots()
rects1 = ax.bar(ind, hombre_means, width, color='r', yerr=hombre_std)

rects2 = ax.bar(ind + width, mujer_means, width, color='y', yerr=mujer_std)

# etiquetas, título, marcas en los ejes
ax.set_ylabel('Puntuaciones')
ax.set_title('Puntuaciones por grupo y género')
ax.set_xticks(ind + width / 2)
ax.set_xticklabels(('G1', 'G2', 'G3', 'G4', 'G5'))

ax.legend((rects1[0], rects2[0]), ('Hombres', 'Mujeres'))
plt.show()

**Ejemplo carga de ficheros**

Carga de un fichero excel con valores bursátiles

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)

path = 'http://gpd.sip.ucm.es/rafa/goal/raw_open.xlsx'

#path='./raw_open.xlsx'


# Cargamos el fichero excel
xl = pd.ExcelFile(path)
# en particular la hoja rawVol
hoja = xl.parse("raw_open")
hoja.describe()[1:].transpose()

Carga de ficheros de texto separados por comas (CSV)

In [ ]:
path = "http://gpd.sip.ucm.es/rafa/goal/clientes.csv"
df = pd.read_csv(path)
df.head()

### Conversión entre tipos

La función predefinida **int( )** se puede convertir para convertir un número real en su parte entera, o para convertir un número entre comillas en su versión como entero (es decir, si no se pone segundo parámetro se asume implícitamente base 10). 

Para este último uso, conversión de *string* a *int*, disponemos también de una función inversa,  **str( )** que convierte un entero en string.

In [ ]:
print(int(7.7))
print(int('7'))

**Observaciones: ** 

* A este tipo de funciones que pasan de un tipo a otro se conoce como *funciones de conversión de tipo*
*  Aunque generalmente no nos preocupamos de pensar en los tipos, el sistema comprueba que no mezclemos tipos diferentes en una misma expresión, y si lo hacemos obtendremos un error (a no ser que sea posible una *conversión automática de tipos*)

In [ ]:
x = '12'
# 3+x  # error!!!!
3 + int(x)

De manera similar, **float(x)**  convierte una cadena x en su representación como número real.

In [ ]:
pi = '3.1415'
2*(float(pi))

**chr( )** se utiliza para convertir un entero a su equivalente alfabético, mientras que **ord( )** es su función inversa.

In [ ]:
chr(98)

In [ ]:
ord('b')

### Funciones predefinidas aritméticas

**round( )** permite redondear un real a su valor entero más próximo. si se añade un segundo parámetro sirve para redondear al número de decimales indicado.

In [ ]:
print(round(85.6231)) 
print(round(4.55892, 2))
print(int(85.6231))

**complex( )** se emplea para definir números complejos, mientras que **abs( )**  deuele el valor absoluto de un número entero/real o el módulo de un número complejo.

In [ ]:
c =complex('5+2j')
print(abs(c))
print(abs(-4.5))

**divmod(x,y)** devuelve tanto el cociente como el resto de una división. Para eso se utiliza una **tupla** con la forma (cociente, resto).

In [ ]:
divmod(9,2)

In [ ]:
cociente,resto = divmod(9,2)
print(cociente, resto, cociente*2+resto)

**isinstance(x,y )** es una función booleana es decir que devuelve True o False, según si x es de tipo y. Se pueden comprobar varias clases a la vez haciendo que el segundo argumento sea una tupla

In [ ]:
print(isinstance(1, int))
print(isinstance(1.0,int))
print(isinstance(1.0,(int,float)))

**pow(x,y,z)** se emplea para calcular $x^y$. Si se especifica el tercer argumento, z, el resultado es el módulo: ($x^y$ % z).

In [ ]:
print(pow(3,3))
print(pow(3,3,5))

La función **range( )** genera una secuencia de enteros dentro del rango indicado. Admite tres formatos, y es una función importante, que utilizaremos muy a menudo:
* Si solo recibe un argumento entero x devuelve los valores desde 0 hasta x-1.
* Si recibe dos argumentos x,y devuelve la secuencia de elementos que va desde x hasta y-1.
* Si recibe tres argumentos, x,y,z, devuelve los elementos desde x hasta y-1, pero saltando de z en z. 

El resultado es una lista, tipo que veremos en detalle más adelante.

In [ ]:
print(range(3))
print(range(2,9))
print(range(2,27,8))

## Entrada del usuario

**input( )**  es una función que lee lo que teclee el usuario hasta que pulsa enter.

In [ ]:
abc = input("Dime lo que quieras \t")
print(abc,'? mmmmm...estoy de acuerdo')

In [ ]:
type(abc)

Si lo que se quiere es leer un entero, debemos convertirlo con **int()**

###### Ej. Corrige el siguiente programa para que calcule de verdad la suma de dos números

In [ ]:
a =  input("Dame un número ")
b =  input("Y ahora otro ")
suma = int(a)+int(b)
print('La suma es', suma)

In [ ]:
type(a)

Para acabar mencionemos un valor especial, **None**,
es un valor especial que puede ser comparado con cualquier otro, 
sin dar error de tipo

In [ ]:
print(None==1.5)
print(None==True)
print(None==None)

False
False
True

Puede pensarse entones que None pertenece a todos los tipos, pero no:

In [ ]:
print(isinstance(None,bool))
print(isinstance(None,list))
print(isinstance(None,float))
print(isinstance(None,complex))
print(type(None))

False
False
False
False
<class 'NoneType'>

Como vemos, *None* tiene su propio tipo, que resulta ser compatible con los demás. Este valor tan especial resulta muy útil porque normalmente representa que ha habido un error en un cómputo.