

## Pandas - DataFrames

Los DataFrames son la estructura principal de Pandas. Se trata de una tabla bidimensional (aunque se pueden lograr representar más dimensiones usando *índices jerárquicos*).


### Índice

[Descarga de ficheros](#Descarga-de-ficheros)

[APIs](#API)

[Yahoo Finance](#yahoo)

[Carga de ficheros CSV con Pandas](#Carga-de-ficheros-CSV-con-Pandas)

[Carga de ficheros Excel con Pandas](#Carga-de-ficheros-Excel-con-Pandas)

[Mostrar dataframes con color](#Color)

[Creación desde arrays](#Creación)<br>

[Acceso a columnas y filas](#Acceso-a-columnas-y-filas)<br>

[Modificación, inserción y borrado de columnas y filas](#Modificación)<br>

[Muestras](#Samples)<br>

[Iterar](#Iterar)<br>

[Índices](#Índices)<br>

<a name="Descarga-de-ficheros"></a>
### Descarga de ficheros

Como veremos, en algunos casos las librerías correspondientes nos permitirán cargar directamente datos a partir de un enlace en internet. Sin embargo, en otras ocasiones tendremos que seguir dos pasos

  1.- Descargar el fichero que queramos usando la librería `requests`

  2.- Manipular el fichero, ya en local, mediante la librería adecuada

Vamos a ver un ejemplo muy sencillo de descarga del último fichero con los datos de inflación, donde el punto 2 es en este caso una grabación del fichero como fichero local.

In [ ]:
import requests
url = "https://www.bolsamadrid.es/docs/SBolsas/InformesSB/resumen.pdf"
nombre = "resumen.pdf"
r = requests.get(url, allow_redirects=True) # el fichero queda en la variable r
with open(nombre, 'wb') as f:
    f.write(r.content) # ahora lo grabamos localmente

print(r.status_code)

Se puede comprabar si el fichero se ha descargado bien comprobando el `r.status_code`, que será 200 si todo ha sido correcto.

In [ ]:
print(r.status_code)


*   200: Todo ha ido bien
*   301: La página redirige a otra; esto podemose evitarlo con `allow_redirects=True`
*  400: El servidor no existe o el formato de algún parámetro es erróneo
* 401: Error de autentificación
* 403: No tenemos permisos para acceder al recurso
* 404: El recurso no existe aunque el servidor sí
* 503: El servidor existe pero no puede atender la demanda

Por tanto el proceso ha tenido este aspecto:

<img src="https://www.dataquest.io/wp-content/uploads/2019/09/api-request.svg"></img>


Además, [requests](https://docs.python-requests.org/) permite pasar parámetros, autenticarse con user, password, descargar de forma "perezosa" para ficheros que no caben en memoria, etc.

También puede utilizarse para descargar páginas html y examinarlas extrayendo información. Sin embargo, para esto es preferible utilizar librerías como `BeautifulSoup` o, si se tiene que interaccionar con la página, `Selenium`

La variable devuelta por requests (llamada `r` en este ejemplo) tiene dos partes:

* El mensaje de error o de éxito `r.status_code`

* Los datos en sí, `r.content`

La instrucción

```
    with open(nombre, 'wb') as f:
      f.write(r.content) # ahora lo grabamos localmente
```

graba el contenido (que es el fichero PDF, ahora mismo localizado en memoria) en un fichero local con el nombre que incluya la variable `nombre`


**Ejercicio 1** Descargar el Balance de Actividad del año 2021 disponible en "https://www.bolsasymercados.es/docs/infmercado/2021/esp/IM2021.pdf". Grabar el fichero localmente con nombre "informe21.pdf"

Mostrar el status de la descarga a ver si todo está bien

**Ejercicio 2** Probar a modificar la URL para que corresponda al ejercicio 2022:

https://www.bolsasymercados.es/docs/infmercado/2021/esp/IM2022.pdf

y comprobar que el status nos devuelve un error. Grabar el fichero localmente con nombre "informe22.pdf"

<a name="API"></a>
### APIs

La librería `requests` también es útil para descargar información que no está directamente en una página sino que se puede obtener a partir de una API (Application Program Interface), es decir un servicio que nos proporciona un sitio que contiene los datos utilizando una secuencia de datos bien definida (protocolo).


**Ejemplo**

En este ejempo accedemos a la API de la agencia nacional de meteorología.

Para acceder necesitaremos una clave que podemos obtener [aquí](https://opendata.aemet.es/centrodedescargas/altaUsuario?)

La API nos devuelve la información en dos pasos:

1º Una primera llamada a requests.get con la URL correspondiente al dato que queremos pedir (ver [aqui](https://opendata.aemet.es/dist/index.html?) una lista de posibilidades) y nuestra clave de API nos devolverá un link al fichero con datos y fichero con metadatos

2º Una segunda llamada a requests.get nos permitirá ya obtener los datos y los metadatos con los links devueltos por el paso 1. Además, en esta segunda operación no hace falta la clave de API.

En el siguiente ejemplo vamos a acceder a los datos de las últimas 24 horas de la estación de Navacerrada (código 2462)

In [ ]:
import json # para convertir string a JSON
import requests # para descargar ficheros
import pprint # para mostrar JSON en "bonito"

api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJyYWZhY3JAdWNtLmVzIiwianRpIjoiODQzZThiMWItYzdmNS00NTkxLWI1NWQtYWYzYTc0Yjk1OWQ3IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2MzEwNTQ2MDksInVzZXJJZCI6Ijg0M2U4YjFiLWM3ZjUtNDU5MS1iNTVkLWFmM2E3NGI5NTlkNyIsInJvbGUiOiIifQ.TXZIXy-nX75cjtqD3932b8zYCQt_OW72vHIBXpFS-vA"
url = "https://opendata.aemet.es/opendata/api/observacion/convencional/datos/estacion/2462"


############################### Paso 1 ##########################
querystring = {"api_key":api_key}
response = requests.get( url,  params=querystring)

# convertirmos a formato JSON para obtener los datos
respuesta = json.loads(response.text)
print("Respuesta paso 1", respuesta)

############################### Paso 2 ####################
pet_datos = requests.get(respuesta['datos'])
valores_datos = json.loads(pet_datos.text)
print("Datos: ")
pprint.pprint(valores_datos)

# para entender los datos mostramos los metadatos
pet_metadatos = requests.get(respuesta['metadatos'])
valores_metadatos = dict(json.loads(pet_metadatos.text))
print("="*50)
print("Metadatos: ")
pprint.pprint(valores_metadatos)

Para entender los datos podemos consultar los metadatos

In [ ]:
# para entender los datos mostramos los metadatos
pet_metadatos = requests.get(respuesta['metadatos'])
valores_metadatos = dict(json.loads(pet_metadatos.text))
print("="*50)
print("Metadatos: ")
pprint.pprint(valores_metadatos)

**Ejercicio 3**
Para obtener dos datos con esta API solo tenemos que cambiar la URL. Por ejemplo la siguiente URL nos permite obtener datos históricos de un día y estación concretos. Completar los dos pasos para obtener el resultado

In [ ]:
url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2021-01-06T00%3A00%3A00UTC/fechafin/2021-01-08T23%3A59%3A00UTC/estacion/3194U"

############################### Paso 1 ##########################

<a name="yahoo"></a>
## Yahoo Finance

Esta librería nos permite acceder a Yahoo Finance, veamos como se usa y algunas de sus posibilidades

##### Instalación

In [ ]:
!pip install yfinance

###### Descarga de datos

In [1]:
import yfinance as yf

# Define el símbolo de cotización de la acción
apple = 'AAPL'

# Crea un objeto Ticker para la acción
apple_data = yf.Ticker(apple)

# Define el rango de fechas para los datos históricos
start_date = '2024-01-01'
end_date = '2024-02-29'

apple_df = apple_data.history(period='1d', start=start_date, end=end_date)

apple_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-01-02 00:00:00-05:00,186.911482,188.199846,183.655642,185.403412,82488700,0.00,0.0
2024-01-03 00:00:00-05:00,183.985237,185.643125,183.196235,184.015198,58414500,0.00,0.0
2024-01-04 00:00:00-05:00,181.917861,182.856666,180.649491,181.678177,71983600,0.00,0.0
2024-01-05 00:00:00-05:00,181.758077,182.527085,179.940389,180.949097,62303300,0.00,0.0
2024-01-08 00:00:00-05:00,181.857938,185.363474,181.268693,185.323517,59144500,0.00,0.0
2024-01-09 00:00:00-05:00,183.685606,184.914035,182.497120,184.904053,42841800,0.00,0.0
2024-01-10 00:00:00-05:00,184.115062,186.162437,183.685602,185.952713,46792900,0.00,0.0
2024-01-11 00:00:00-05:00,186.302271,186.811631,183.385994,185.353485,49128400,0.00,0.0
2024-01-12 00:00:00-05:00,185.822881,186.502022,184.953994,185.683060,40444700,0.00,0.0
2024-01-16 00:00:00-05:00,181.927853,184.025168,180.699410,183.395981,65603000,0.00,0.0
2024-01-17 00:00:00-05:00,181.038998,182.696871,180.070233,182.447189,47317400,0.00,0.0
2024-01-18 00:00:00-05:00,185.852846,188.898962,185.593183,188.389618,78005800,0.00,0.0
2024-01-19 00:00:00-05:00,189.088718,191.705375,188.579374,191.315872,68741000,0.00,0.0
2024-01-22 00:00:00-05:00,192.054929,195.081066,192.014971,193.642899,60133900,0.00,0.0
2024-01-23 00:00:00-05:00,194.771475,195.500540,193.582989,194.931259,42355600,0.00,0.0
2024-01-24 00:00:00-05:00,195.170947,196.129730,194.092321,194.252121,53631300,0.00,0.0
2024-01-25 00:00:00-05:00,194.971211,196.019876,192.863900,193.922546,54822100,0.00,0.0
2024-01-26 00:00:00-05:00,194.022423,194.511788,191.695390,192.174774,44594000,0.00,0.0
2024-01-29 00:00:00-05:00,191.765299,191.955059,189.338403,191.485657,47145600,0.00,0.0
2024-01-30 00:00:00-05:00,190.696667,191.555572,187.231088,187.800354,55859400,0.00,0.0
2024-01-31 00:00:00-05:00,186.801628,186.861565,184.115069,184.164993,55467800,0.00,0.0
2024-02-01 00:00:00-05:00,183.755534,186.711754,183.585753,186.621872,64885400,0.00,0.0
2024-02-02 00:00:00-05:00,179.630787,187.091269,179.021564,185.613159,102518000,0.00,0.0
2024-02-05 00:00:00-05:00,187.910213,189.008818,185.603160,187.440811,69668800,0.00,0.0
2024-02-06 00:00:00-05:00,186.621869,189.068743,186.531987,189.058762,43490800,0.00,0.0
2024-02-07 00:00:00-05:00,190.397053,190.806534,188.369641,189.168625,53439000,0.00,0.0
2024-02-08 00:00:00-05:00,189.148646,189.298448,187.111252,188.080017,40962000,0.00,0.0
2024-02-09 00:00:00-05:00,188.649994,189.990005,188.000000,188.850006,45155200,0.24,0.0
2024-02-12 00:00:00-05:00,188.419998,188.669998,186.789993,187.149994,41781900,0.00,0.0
2024-02-13 00:00:00-05:00,185.770004,186.210007,183.509995,185.039993,56529500,0.00,0.0
2024-02-14 00:00:00-05:00,185.320007,185.529999,182.440002,184.149994,54630500,0.00,0.0
2024-02-15 00:00:00-05:00,183.550003,184.490005,181.350006,183.860001,65434500,0.00,0.0
2024-02-16 00:00:00-05:00,183.419998,184.850006,181.669998,182.309998,49701400,0.00,0.0
2024-02-20 00:00:00-05:00,181.789993,182.429993,180.000000,181.559998,53665600,0.00,0.0
2024-02-21 00:00:00-05:00,181.940002,182.889999,180.660004,182.320007,41529700,0.00,0.0
2024-02-22 00:00:00-05:00,183.479996,184.960007,182.460007,184.369995,52292200,0.00,0.0
2024-02-23 00:00:00-05:00,185.009995,185.039993,182.229996,182.520004,45119700,0.00,0.0
2024-02-26 00:00:00-05:00,182.240005,182.759995,180.649994,181.160004,40867400,0.00,0.0
2024-02-27 00:00:00-05:00,181.100006,183.919998,179.559998,182.630005,54318900,0.00,0.0
2024-02-28 00:00:00-05:00,182.509995,183.119995,180.130005,181.419998,48953900,0.00,0.0

##### Gráfico sencillo

In [ ]:
plt.figure(figsize=(10, 6)) # proporciones del gráfico
plt.plot(apple_df['Open'], label='Open')  # Grafica la columna 'Open'
plt.title('Cotizaciones de Apertura')  # Título del gráfico
plt.xlabel('Fecha')  # Etiqueta del eje X
plt.ylabel('Precio de Apertura')  # Etiqueta del eje Y
plt.legend()  # Muestra la leyenda
plt.xticks(rotation=45)  # Rota las etiquetas del eje X para mejorar la legibilidad
plt.grid(True)  # Muestra una cuadrícula en el gráfico
plt.show()  # Muestra el gráfico

También podemos extraer los máximos datos posibles, sin especificar el periodo

In [ ]:
historico_apple = apple_data.history(period="max")
historico_apple

In [ ]:
historico_apple.reset_index(inplace=True) # convierte el índice en un campo max
historico_apple.plot(x="Date", y="Close")

In [ ]:
historico_apple

##### Información general

In [ ]:
apple_info=apple_data.info
apple_info

In [ ]:
apple_info['totalRevenue']

In [ ]:
apple_data.dividends

In [ ]:
apple_data.dividends.plot()

<a name="Carga-de-ficheros-CSV-con-Pandas"></a>
### Carga de ficheros CSV con Pandas

[read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) y [read_excel](https://pythonbasics.org/read-excel/) permiten leer ficheros separados por un carácter y ficheros excel
En ambos casos devuelven un dataframe: una tabla en Pandas que representa el conjunto de datos en memoria


##### read_csv

El principal parámetro es la dirección donde se encuentra el fichero. Algunos parámetros comunes de read_csv

- sep: el separador, por defecto “,”, pero en algunos ficheos puede ser ;
- Header: para indicar si la primera línea contiene la cabecera (por defecto True)
- Thousands, decimal: separadores de miles y de decimales
- encoding: codificación de caracteres. Deber ser una codificaciones estándar

In [ ]:
import pandas as pd # normalmente pandas se renombra como pd
fichero = 'https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/madrid/contaminacionLargo.csv'
df = pd.read_csv(fichero)
df

Pandas nos permite hacer gráficas de forma muy sencilla, especialmente si el índice es de tipo fecha

In [ ]:
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(15, 5))
df2 = df[(df.fecha>'2019-01-01') & (df.fecha<'2019-02-10')] 
df2.index=df2.fecha
df2["CO"].plot(ax=ax)
plt.show()

En ocasiones no es tan fácil leer el fichero. Si no tiene el formato adecuado, por ejemplo, por la codificación, podemos obtener un error

In [ ]:
fichero = "https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/parocomunidades.csv"
df2 = pd.read_csv(fichero)

In [ ]:
import pandas as pd
fichero = "https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/parocomunidades.csv"
df2 = pd.read_csv(fichero,encoding="latin1") # o cp1252
df2

Ver https://python.readthedocs.io/en/stable/library/codecs.html#standard-encodings para una lista completa de codificaciones

**Ejercicio** Intentar leer el siguiente fichero

In [ ]:
import pandas as pd
fichero = "https://www.vitoria-gasteiz.org/docs/j34/catalogo/01/93/calidaddelaire.csv"

¿Qué cambiarías en este fichero?

<a name="Carga-de-ficheros-Excel-con-Pandas"></a>
### Carga de ficheros Excel con Pandas

##### read_excel

La lectura con pd.read_excel utiliza internamente otro librería `xlrd` que habra que instalar sino está en el sistema. Este ejemplo carga un fichero con valores bursátiles

In [ ]:
#!pip install --upgrade xlrd

In [ ]:
import pandas as pd
fichero='https://github.com/RafaelCaballero/tdm/raw/master/datos/raw_open.xlsx'
df = pd.read_excel(fichero)
df

En el caso de múltiples páginas obtendremos un vector de dataframes. En este ejemplo cargamos datos de accidentes por distritos en la ciudad de Madrid. Se trata de un "libro" excel con hojas de nombre '2009', ..., '2016'

Ojo: para manejar esta posibilidad necesitaremos una versión actualizada de xlrd

In [ ]:
import pandas as pd
fichero = "https://github.com/RafaelCaballero/tdm/raw/master/datos/madrid/accidentes_madrid_2009_2016.xlsx"
df_acc = pd.read_excel(fichero,sheet_name='2016')
df_acc

La grabación de ficheros excel se realiza con la función de pandas to_excel, asociada al dataframe. Esta función depende a su vez de dos librerías 


    - xlwt para grabar ficheros .xls  (formato hasta Excel2003)
    - openpyxl para ficheros .xlsx (Excel2007 o posterior).

In [ ]:
df_acc.to_excel("./accidentes.xlsx")

**Ejercicio**
Cargar el fichero situado en https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/ciudades_ejemplo.csv
como un dataframe Pandas, y grabarlo a continuación en formato excel.

Carga de fichero desde el drive (asegurarse de tener permisos!) 

Nota: https://stackoverflow.com/questions/65482574/read-excel-file-from-google-drive-without-downloading-file

In [ ]:
url = "https://docs.google.com/spreadsheets/d/17Vd311TVhqVL_alEUOHcwhX1bIDROfmm/export?format=xlsx&ouid=102053557304905014096&rtpof=true&sd=true"
df = pd.read_excel(url)
df

<a name="Color"></a>
## Mostrar dataframes con color

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in e:\instalados\anaconda\lib\site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rafa\appdata\roaming\python\python311\site-packages (from yfinance) (2.2.1)
Requirement already satisfied: numpy>=1.16.5 in e:\instalados\anaconda\lib\site-packages (from yfinance) (1.26.1)
Requirement already satisfied: requests>=2.31 in e:\instalados\anaconda\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in e:\instalados\anaconda\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in e:\instalados\anaconda\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in e:\instalados\anaconda\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in e:\instalados\anaconda\lib\site-packages (from yfinance) (2022.7)
Requirement already satisfied: frozendict>=2.3.4 in e:\instalados\anaconda\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in e:\instalados\anaconda\lib\site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in e:\instalados\anaconda\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in e:\instalados\anaconda\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in e:\instalados\anaconda\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in e:\instalados\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in e:\instalados\anaconda\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\instalados\anaconda\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rafa\appdata\roaming\python\python311\site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\instalados\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in e:\instalados\anaconda\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in e:\instalados\anaconda\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in e:\instalados\anaconda\lib\site-packages (from requests>=2.31->yfinance) (2023.7.22)

In [9]:
import yfinance as yf

# Define el símbolo de cotización de la acción
símbolo = '^IBEX'

# Crea un objeto Ticker para la acción
data = yf.Ticker(símbolo)

# Define el rango de fechas para los datos históricos
start_date = '2024-01-01'
end_date = '2024-03-08'

df = data.history( start=start_date, end=end_date)

df = df[["Open", "High", "Low", "Close", "Volume"]]
df

,Open,High,Low,Close,Volume
Date,,,,,
2024-01-02 00:00:00+01:00,10161.099609,10287.900391,10122.400391,10182.099609,137052900
2024-01-03 00:00:00+01:00,10183.799805,10209.799805,10038.099609,10053.400391,136612300
2024-01-04 00:00:00+01:00,10067.500000,10190.799805,10067.500000,10182.400391,110894200
2024-01-05 00:00:00+01:00,10130.299805,10192.000000,10061.200195,10164.500000,145036200
2024-01-08 00:00:00+01:00,10140.500000,10209.000000,10079.299805,10209.000000,110110400
2024-01-09 00:00:00+01:00,10159.000000,10181.900391,9994.000000,10060.299805,157192400
2024-01-10 00:00:00+01:00,10053.900391,10079.799805,10017.799805,10067.099609,136822100
2024-01-11 00:00:00+01:00,10112.700195,10151.799805,10004.900391,10004.900391,134217300
2024-01-12 00:00:00+01:00,10024.799805,10134.700195,10023.799805,10094.799805,134251900
2024-01-15 00:00:00+01:00,10118.900391,10135.299805,10048.599609,10076.900391,87931100
2024-01-16 00:00:00+01:00,10022.700195,10024.299805,9955.000000,9994.099609,138279400
2024-01-17 00:00:00+01:00,9916.799805,9916.799805,9826.599609,9867.799805,133882600
2024-01-18 00:00:00+01:00,9876.799805,9901.500000,9798.799805,9880.299805,134134100
2024-01-19 00:00:00+01:00,9915.799805,9931.000000,9823.700195,9858.299805,146590900
2024-01-22 00:00:00+01:00,9915.200195,9980.799805,9903.200195,9968.099609,105116800
2024-01-23 00:00:00+01:00,9980.500000,10000.599609,9845.099609,9859.200195,119165400
2024-01-24 00:00:00+01:00,9897.900391,9974.000000,9892.799805,9974.000000,126373600
2024-01-25 00:00:00+01:00,9941.700195,9941.700195,9863.799805,9916.599609,162814100
2024-01-26 00:00:00+01:00,9923.500000,9973.000000,9910.099609,9936.599609,107711200
2024-01-29 00:00:00+01:00,9938.299805,9944.000000,9864.200195,9890.299805,112770300
2024-01-30 00:00:00+01:00,9902.900391,10050.700195,9888.400391,10039.299805,139738300
2024-01-31 00:00:00+01:00,10066.200195,10128.000000,10042.799805,10077.700195,171867800
2024-02-01 00:00:00+01:00,10034.000000,10149.599609,9986.400391,10014.000000,208762700
2024-02-02 00:00:00+01:00,10087.599609,10132.799805,10033.700195,10062.500000,161360600
2024-02-05 00:00:00+01:00,10047.400391,10083.099609,9928.599609,9941.299805,187035600
2024-02-06 00:00:00+01:00,9988.200195,10013.599609,9941.599609,10003.000000,148017600
2024-02-07 00:00:00+01:00,9978.900391,9985.900391,9886.500000,9920.200195,154163400
2024-02-08 00:00:00+01:00,9913.099609,9952.400391,9899.400391,9905.400391,110769400
2024-02-09 00:00:00+01:00,9906.000000,9921.400391,9857.400391,9896.599609,153135700
2024-02-12 00:00:00+01:00,9938.500000,9987.000000,9929.299805,9984.700195,95624200
2024-02-13 00:00:00+01:00,9987.799805,10004.099609,9908.200195,9925.400391,130998800
2024-02-14 00:00:00+01:00,9922.599609,9991.500000,9913.299805,9916.599609,119508700
2024-02-15 00:00:00+01:00,9955.000000,9963.900391,9861.200195,9927.299805,113529500
2024-02-16 00:00:00+01:00,9975.200195,9978.400391,9841.599609,9886.400391,126325600
2024-02-19 00:00:00+01:00,9884.599609,9954.799805,9878.299805,9944.799805,87430700
2024-02-20 00:00:00+01:00,9940.099609,10048.299805,9926.500000,10038.200195,118742600
2024-02-21 00:00:00+01:00,10049.799805,10127.299805,10031.500000,10107.200195,105194400
2024-02-22 00:00:00+01:00,10179.099609,10196.400391,10120.900391,10138.900391,155634000
2024-02-23 00:00:00+01:00,10123.299805,10136.700195,10064.299805,10130.599609,108883100
2024-02-26 00:00:00+01:00,10120.400391,10157.299805,10102.500000,10138.400391,104520800
2024-02-27 00:00:00+01:00,10111.400391,10125.299805,10058.400391,10113.799805,110771900
2024-02-28 00:00:00+01:00,10096.799805,10127.099609,10028.900391,10068.599609,128594200
2024-02-29 00:00:00+01:00,10054.799805,10095.700195,10001.000000,10001.299805,340767500
2024-03-01 00:00:00+01:00,10015.000000,10108.000000,10008.799805,10064.700195,172079700
2024-03-04 00:00:00+01:00,10069.599609,10084.500000,10035.599609,10069.799805,125103700
2024-03-05 00:00:00+01:00,10060.099609,10121.700195,10032.099609,10117.099609,132426700
2024-03-06 00:00:00+01:00,10116.000000,10246.200195,10105.500000,10197.200195,182074800
2024-03-07 00:00:00+01:00,10167.799805,10359.200195,10164.799805,10319.599609,202030200

Mostrar con mapa de colores ([aquí](https://matplotlib.org/stable/users/explain/colors/colormaps.html) una lista de mapas de color)

In [11]:
df.style.background_gradient(cmap='YlOrRd')

Mostrar máximos ([aquí](https://matplotlib.org/stable/gallery/color/named_colors.html) una lista de nombres de colores)

In [12]:
df.style.highlight_max(color='lightgreen')

In [14]:
df.style.highlight_min(color='cyan')

Barra de color

In [22]:
df.style.bar(align='left', color='wheat')

Color condicional

In [28]:
def colorea(val):
    color = 'lightcoral' if val > df2.Open.mean() else 'lime'
    return f'background-color: {color}'

df2 = df[["Open"]]

df.style.map(colorea)

<a name="Creación"></a>
## Creación desde arrays y diccionarios

Hemos visto que se pueden cargar Dataframes desde un fichero CSV o Excel con `pd.read_csv`, o `pd.read_excel`.
Otra alternativa es a través de listas de listas. Esto es habitual cuando por ejemplo estamos recopilando la información mediante web scraping y la vamos acumulando en listas. En este caso habrá que indicar, además, los nombres de las columnas

In [ ]:
import pandas as pd
from pandas import Series, DataFrame # para no tener que poner pd.

datos = [['Madrid', 6507184], ['Barcelona', 5609350], 
         ['Valencia', 2547986], ['Sevilla', 1939887], 
         ['Alicante', 1838819], ['Málaga',1641121]  ]
df = DataFrame(datos ,columns=['provincia','habitantes'])
df

El siguiente resultado, quizás inesperado, debe ser fácil de entender

In [ ]:

ciudades = ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 
         'Alicante', 'Málaga']
habitantes = [6507184, 5609350,  2547986,  1939887, 
          1838819, 1641121 ]

df2 = DataFrame([ciudades,habitantes],['provincia','habitantes'])
df2

También se puede crear a partir de un diccionario

In [ ]:
datos = {'provincia' : ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 
         'Alicante', 'Málaga'],
         'habitantes' : [6507184, 5609350,  2547986,  1939887, 
          1838819, 1641121 ]}
df = DataFrame(datos)
df

## Acceso a columnas y filas

Al acceder a una columna obtenemos una "serie", es decir una secuencia de datos todos ellos con su etiqueta (en principio un número)

In [ ]:
df['provincia']

Otra forma de acceder es con la notación . que solo puede usarse si el nombre de columna no contiene espacios ni símbolos especiales

In [ ]:
df.provincia

Veamos cuál es el tipo de una columna

In [ ]:
print(type(df['provincia']))

Como hemos visto, una columna es de tipo `Series`y  tiene 2 componentes, el índice y los valores

In [ ]:
df.provincia.values

In [ ]:
df.provincia.index

Para acceder por varias columnas a la vez usar dobles corchetes, y el resultado es un nuevo Dataframe

In [ ]:
df[['provincia','habitantes']]

Se puede acceder a las columnas, a los índices y a los valores

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

Sin embargo, no podemos acceder a la fila por posición directamente:

In [ ]:
# df[0]  # da error

Sí podríamos usar df.values, que nos da todas las filas, aunque no es muy habitual

In [ ]:
df.values[0]

En lugar de eso, utilizaremos `iloc` que recibe un entero como parámetro para acceder a la fila

In [ ]:
df.iloc[0]

**Ejercicio 1**

Acceder a las 3 primeras filas. Pista: utilizar la misma notación que si fuera una lista

Igualmente dentro de la fila  podemos acceder a la columna por posición

In [ ]:
df.iloc[0][0], df.iloc[0][1]

Otra forma de lograr lo mismo [fila,columna]

In [ ]:
df.iloc[0,0], df.iloc[0,1]

**Ejercicio 2** Seleccionar las filas de la 2 a la 4, ambas incluidas (comenzando en 0) y solo la primera columna (la número 0)

In [ ]:
# solución

**Acceso por índice.**

A menudo el índice es la posición sin más, con lo que la función iloc nos sirve. Sin embargo esto no es siempre así

In [ ]:
datos = [['Madrid', 6507184], ['Barcelona', 5609350], 
         ['Valencia', 2547986], ['Sevilla', 1939887], 
         ['Alicante', 1838819], ['Málaga',1641121]  ]
df = DataFrame(datos ,columns=['provincia','habitantes'],
               index=['Capital','Capital Com. Autonoma','Capital Com. Autonoma','Capital Com. Autonoma','Provincia','Provincia'])
df

Como vimos en el tipos `Series` iloc en este caso no vale:

In [ ]:
# df.iloc['Capital'] # da error

Si se quiere acceder por el índice se puede usar `loc`

In [ ]:
df.loc['Capital']

In [ ]:
df.loc['Provincia']

Si se quiere acceder por nombre de fila y columna podemos hacerlo seleccionando primero la fila:

In [ ]:
df.loc['Provincia']["provincia"]

O utilizar `loc`con la notación habitual fila, columna

In [ ]:
df.loc['Provincia','provincia']

<a name="Modificación"></a>
## Modificación, inserción y borrado de columnas y filas

**Ejercicio 3** ¿Qué hace el siguiente código?

In [ ]:
datos = [['Madrid', 6507184], ['Barcelona', 5609350], 
         ['Valencia', 2547986], ['Sevilla', 1939887], 
         ['Alicante', 1838819], ['Málaga',1641121]  ]
df = DataFrame(datos ,columns=['provincias','habitantes'],
               index=['a','b','c','d','e','f'])

df.iloc[1] = 0
df

**Ejercicio 4** ¿Qué hace el siguiente código?

In [ ]:
df['superficie'] = 0
df

Por tanto para crear una columna nos basta con "rellenarla" del valor que se desee. Luego veremos casos más complejos.

### Eliminar filas y columnas
Una forma de eliminar columnas es seleccionar solo las que se quieren mantener. Primero preparamos los datos.

In [ ]:
datos = {'provincia' : ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 
         'Alicante', 'Málaga'],
         'habitantes' : [6507184, 5609350,  2547986,  1939887, 
          1838819, 1641121 ]}
df = DataFrame(datos)
df["superficie"] = 0
df

In [ ]:
df2 = df.loc[ : , ['superficie'] ]  # todas las filas, columna solo superficie
df2

Equivalente a

In [ ]:
df2 = df[["superficie"]]
df2

**Pregunta** ¿También es equivalente a `df["superficie"]`?

Varias columnas

In [ ]:
df2 = df[['provincia', 'superficie'] ]
df2

En general para borrar filas o columnas por nombre usaremos [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html). El parámetro `axis`indica si queremos borrar filas (0) o columnas (1)

In [ ]:
datos = {'provincia' : ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 
         'Alicante', 'Málaga'],
         'habitantes' : [6507184, 5609350,  2547986,  1939887, 
          1838819, 1641121 ]}
df = DataFrame(datos)
df["superficie"] = 0
df

In [ ]:
dfSinFila = df.drop([3,5],axis=0)
dfSinFila

In [ ]:
dfSinCol = df.drop(['superficie'],axis=1)
dfSinCol

Si queremos podemos eviar el uso de axis utilizando los parámetros `index` y `columns`

In [ ]:
datos = {'provincia' : ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 
         'Alicante', 'Málaga'],
         'habitantes' : [6507184, 5609350,  2547986,  1939887, 
          1838819, 1641121 ]}
df = DataFrame(datos)
df["superficie"] = 0
df

In [ ]:
df.drop(index=[1,3])

In [ ]:
df.drop(columns=['provincia'])

Las columnas también se puede eliminar con `del` como en los diccionarios

In [ ]:
if 'superficie' in df2:
    del df2['superficie'] 
df2

Una variante interesante es `pop`, que borra una fila y la devuelve

In [ ]:
df2 = df.copy()
habi = df2.pop("habitantes")
df2

In [ ]:
habi

In [ ]:
df

### Filtros

Para *filtrar* filas lo normal es escribir una expresión booleana que solo cumplan las filas que queremos y acceder mediante este filtro

In [ ]:
datos = [['Madrid', 6507184], ['Barcelona', 5609350], 
         ['Valencia', 2547986], ['Sevilla', 1939887], 
         ['Alicante', 1838819], ['Málaga',1694089]  ]
df = DataFrame(datos ,columns=['ciudades','habitantes'],
               index=['Capital','Capital Com. Autonoma','Capital Com. Autonoma','Ciudad','Ciudad','Ciudad'])

df

Ciudades con más de 200000 habitantes

In [ ]:
filtro = df.habitantes > 2000000
df2 = df[filtro]
df2

Esto es importante pero bastante complejo. Para entenderlo veamos primero el filtro

In [ ]:
filtro

Aquí el índice no es importante, lo importante es que hay un True en cada fila que cumple la condición y un false en la que no.

Y Python permite usar una secuencia de Trues y False para acceder a elementos, devolviendo solo en los que hay Trues; por eso df[filtro] es equivalente a

In [ ]:
df[[True,True,True,False,False,False]]

**Ejemplo** La función de strings `startswith` indica si un string empieza por una letra

In [ ]:
s = "Barcerlona"
print(s.startswith("B"))
print(s.startswith("V"))

vamos a usarla para quedarnos solo con las ciudades que empiezan por M

In [ ]:
filtro = df.ciudades.str.startswith("M")  # ciudades cuyo nombre empieza por M

df2 = df[filtro]
df2

In [ ]:
filtro

**Detalle**: Fijarse en el df.ciudades**.str**.startswith("M"). Es necesario porque al ser startswith una función que solo vale para strings tenemos que "avisar" a Python de que la función es de tipo string, cuando por defecto las considera numéricas.

Si lo que queremos es saber cuántos elementos cumplen el filtro, nos basta con recordar que los Trues se corresponden con 1s, y los Falses con 0s.

In [ ]:
sum(filtro)

**Ejercicio 4**

a) Cargar el fichero "https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/parocomunidades.csv" que está con codificación (`encoding`) "latin1" y dejarlo en un dataframe `df_paro`

In [ ]:
import pandas as pd
url = "https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/parocomunidades.csv"

b) Mostrar solo las filas de `df_paro` que corresponden al Periodo 2019

c) Mostrar solo las filas de `df_paro` que corresponden a un total mayor de 15

In [ ]:
filtro = df_paro["Total"]>15
df_paro[filtro]

d) (más difícil) Mostrar solo las filas que corresponden al Periodo 2019 y tienen Total mayor de 15

**Nota** Para combinar varias condiciones en un filtro se utilizan los operadores de bit: `&` en lugar de `and`, `|` en lugar de `or` y `~` en lugar de not.

**Ejemplo** 

Queremos todos los datos de `df_paro` salvo los de Andalucía

In [ ]:
# método 1
filtro = df_paro["Comunidad"]!="Andalucía"
df_paro[filtro]

In [ ]:
# método 2, más raro 
filtro = df_paro["Comunidad"]=="Andalucía"
df_paro[~filtro]

**Ejercicio 5** Consideramos este DataFrame

In [ ]:

data = [[1,2,3,4,5,6,7],
        [1,2,0,0,0,6,7],
        [1,2,0,0,0,6,7],
        [1,2,0,0,0,6,7],
        [1,2,3,4,5,6,7],
       ]
df = DataFrame(data)
df

Encontrar una expresión de cambiar todos los 0s por 9s (hay varias formas, alguna utilizando posiciones y alguna otra sin posiciones)

### Añadir filas

Veamos como [añadir filas](https://www.stackvidhya.com/add-row-to-dataframe/#:~:text=You%20can%20add%20rows%20to,append()) a un dataframe ya existente con append

In [ ]:
datos = [['Madrid', 6507184], ['Barcelona', 5609350], 
         ['Valencia', 2547986], ['Sevilla', 1939887], 
         ['Alicante', 1838819], ['Málaga',1694089]  ]
df = DataFrame(datos ,columns=['ciudades','habitantes'])
df

In [ ]:
df = df.append( {'ciudades':'Cáceres', 'habitantes': 394151 }, ignore_index = True)
df

Ahora añadimos una columna con la superficie

In [ ]:
df["superficie"] = [8027, 7773, 10807,14036,5817,7306, 19868]
df

Y obtenemos la densidad:

In [ ]:
df["densidad"] = df["habitantes"]/df["superficie"]
df

Finalmente, ordenamos por nombre de ciudad con `sort_values`. Nótese el uso de `inplace=True` para que modifique el dataframe y no devuelva una copia

### Ordenar

Para ordenar utilizaremos `sort_values`

In [ ]:
datos = [['Madrid', 6507184], ['Barcelona', 5609350], 
         ['Valencia', 2547986], ['Sevilla', 1939887], 
         ['Alicante', 1838819], ['Málaga',1694089]  ]
df = DataFrame(datos ,columns=['provincia','habitantes'])
df
df.sort_values(by='provincia', ascending=True, inplace=True)
df

Ordenar por dos columnas

In [ ]:
datos = [['Bertoldo', 'Cacaseno'], ['Aniceto', 'Cacaseno'], 
         ['Herminia', 'Ducasse'], ['Calixta', 'Albrich'] ]
df = DataFrame(datos ,columns=['nombre','apellido'])
df.sort_values(by='apellido',ascending=True)

In [ ]:
df.sort_values(by=['apellido','nombre'],ascending=True)

<a name="Samples"></a>
## Muestras

En ocasiones nos interesará tomar muestras de un dataset muy grande para tener unos pocos datos manejables y representativos

Las muestras también se utilizarán en nuestros experimentos con datos, dividiendo el conjunto en dos:

- Entrenamiento

- Test

El conjunto de entrenamiento lo usaremos para nuestras hipótesis, nuestros modelos. Una vez realizado el modelo lo probaremos con datos "nuevos" los datos de test

En ambos casos utilizaremos [sample](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html) al que se puede pasar la proporción de datos a obtener o el número de valores a obtener

In [ ]:
# lectura de un fichero en panda
import pandas as pd

url = "https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/madpollution_output.csv"
df = pd.read_csv(url)
df

In [ ]:
# solo queremos 100 filas al azar
df.sample(n=100)

Ejemplo de división de un dataframe en dos de forma aleatoria

In [ ]:
train_dataset = df.sample(frac=0.8,random_state=0)
test_dataset = df.drop(train_dataset.index)
print(len(train_dataset), len(test_dataset))

También se pueden tomar muestras con reemplazamiento, lo que significa que se puede repetir

In [ ]:
datos = [['Bertoldo', 'Cacaseno'], ['Aniceto', 'Cacaseno'], 
         ['Herminia', 'Ducasse'], ['Calixta', 'Albrich'] ]
df = DataFrame(datos ,columns=['nombre','apellido'])
df

In [ ]:
df.sample(n=10,replace=True)

<a name="Iterar"></a>
## Iterar

Intentaremos evitar iterar por el dataframe con un `for`, pero a veces no hay más remedio. En ese caso usaremos `iterrows`
 que nos devuelve cada fila como un array con dos posiciones, la 0 para el índice y la 1 para la fila en sí

In [ ]:
import pandas as pd
file = "https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/top10s.csv"
df = pd.read_csv(file,encoding="latin-1", index_col=0)
df

In [ ]:
for row in df.iterrows():
    print(row[1]["title"])

**Ejemplo 11** Utilizar iterrows para encontrar el título de la canción  con más bpm.

Idea: usar una variable bpm que lleve el máximo hasta el momento y otra título con el título del máximo hasta el momento, e ir actualizando ambas variables

In [ ]:
## Y ahora sin iterrows...

## Índices

Ya hemos visto unas cuantas cosas sobre los índices

- Se usan para referenciar fila
- Se puede acceder con loc
- Hay índices de tipos diversos

Algunas cosas nuevas:

In [ ]:
import pandas as pd
import numpy as np
data = [[1,2,3,4,5,6,7],
        [1,2,0,0,0,6,7],
        [1,2,0,0,0,6,7],
        [1,2,0,0,0,6,7],
        [1,2,3,4,5,6,7],
       ]
df1 = pd.DataFrame(data, columns=[chr(ord('a')+i) for i in range(len(data[0]))],
               index = ['i'+chr(ord('a')+i) for i in range(len(data))])
df2 = pd.DataFrame(data, columns=[chr(ord('a')+i) for i in range(len(data[0]))],
               index = [i-1 for i in range(len(data),0,-1)])
df3 = pd.DataFrame(data, columns=[chr(ord('a')+i) for i in range(len(data[0]))],
               index = [np.random.randint(3) for i in range(len(data),0,-1)])

In [ ]:
print(df1,df2,df3,sep="\n")

A menudo interesa asegurarse de si es monótono creciente.

In [ ]:
df1.index.is_monotonic, df2.index.is_monotonic, df3.index.is_monotonic

También de si hay valores repetidos

In [ ]:
df1.index.is_unique, df2.index.is_unique, df3.index.is_unique

En caso de que no sea único podemos querer obtener los valores distintos

In [ ]:
df3.index.unique()

Una de las operaciones más básicas, que haremos a menudo es reindexar:

In [ ]:

df4 = df2.reindex([1,2,3,4,5])
df4

- ¿Por qué necesitamos hacer df4 y no queda modificado df2? Porque los índices son inmutables. Para que se cambie en el propio DataFram usar el argumento `inplace=True`

- ¿Por qué aparecen los NaN? (pensar...)

In [ ]:
df4 = df2.reindex([1,2,3,4,5],fill_value=0)
df4

También vale para columnas

In [ ]:
df4 = df2.reindex(columns=[1,2,3,4,5],fill_value=-1)
df4

Esto es un poco desastre. ¿No podemos solo cambiar los índices sin cargarnos todo? La solución es `reset_index()`

In [ ]:
df2 = DataFrame(data, columns=[chr(ord('a')+i) for i in range(len(data[0]))],
               index = [i-1 for i in range(len(data),0,-1)])
df2

In [ ]:
df2.reset_index(inplace=True)
df2

El índice se 'guarda' en una columna `index`. Se puede evitar utilizando `drop=True`

In [ ]:
from pandas import DataFrame
data = [[1,2,3,4,5,6,7],
        [1,2,0,0,0,6,7],
        [1,2,0,0,0,6,7],
        [1,2,0,0,0,6,7],
        [1,2,3,4,5,6,7],
       ]
df2 = DataFrame(data, columns=[chr(ord('a')+i) for i in range(len(data[0]))],
               index = [i-1 for i in range(len(data),0,-1)])
df2.reset_index(drop=True, inplace=True)
df2

Si no se quiere que el índice empiece en 0, ni tampoco que se pierda información, se puede acceder directamente a .index o a .columns

In [ ]:
df2.index = ['a','b','c','d','e']
df2

In [ ]:
df2[df2.index=='a']

In [ ]:
df2.loc['a']

Si se accede directamente a `index` se deben poner tantos elementos como filas hay, si no se obtendrá un error

In [ ]:
df2.index = ['a','b','c','d']

**Ej.** Queremos sumar dos series:

In [ ]:
a = Series([1,2,3,4],['a','b','c','d'])
b = Series([1,2,3,4],[10,20,30,40])

Sin embargo:

In [ ]:
a+b

¿qué podemos hacer?

In [ ]:
a.reset_index(drop=True)+b.reset_index(drop=True)

Se pueden eliminar filas a partir del índice con drop()

In [ ]:
c = a.reset_index(drop=True)+b.reset_index(drop=True)
print(c,type(c))
d = c.drop([1,2])
print(d)

In [ ]:
df = DataFrame(np.arange(16).reshape((4, 4)), 
               columns=['c'+str(i) for i in range(4)],
               index = ['f'+str(i) for i in range(4)])
df

In [ ]:
df.drop(['c1','c2'],axis=1,inplace=True)
df

In [ ]:
df = DataFrame(np.arange(16).reshape((4, 4)), 
               columns=['c'+str(i) for i in range(4)],
               index = ['f'+str(i) for i in range(4)])
df.drop(['f1','f2'],axis=0,inplace=True)
df

Como ya hemos visto las operaciones aritméticas utilizan los índices comunes. Esto vale tanto para filas como para columnas

In [ ]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df2 = DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))

print(df1)
print(df2)

In [ ]:
df1+df2

Para evitarlo se puede añadir 0 para evitar el valor `NaN`

In [ ]:
df1.add(df2,fill_value=0)

Análogamente existen funciones `add`, `sub`, `div`, `mul`

La siguiente operación ya no debe sorprendernos:

In [ ]:
f = df1.loc[1,:]
print(df1,"\n",f,"\n",df1-f,sep="")

Si lo que queremos es restar sobre las columnas

In [ ]:
f.index = range(len(f))
df1.sub(f,axis=0)

Si lo que se quiere es ordenar los índices, no cambiarlo, se puede utilizar `sort_index()`

In [ ]:
df1 = DataFrame(np.arange(12.).reshape((3, 4)), 
                columns=list('dfab'),index=list('431'))
df1

In [ ]:
df1.sort_index(inplace=True)
df1