<a href="https://colab.research.google.com/github/RafaelCaballero/BME/blob/main/c%C3%B3digo/genera_modelo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import joblib
import pandas as pd
import numpy as np
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

url = "https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/BankPrediction.csv"
df = pd.read_csv(url)

df2 = df.drop(columns=["customer_id"])

df3 = pd.get_dummies(df2)

yColumn = "churn"
XColumns = [c for c in df3.columns if c!=yColumn]
X = df3[XColumns]
y = df3[yColumn]

pasos = [ ('scaler', StandardScaler()), ('over',RandomOverSampler()), ('Logistic', LogisticRegression(max_iter=10000))]

pipeline = Pipeline(steps=pasos)

modelo = pipeline.fit(X,y)

# Guardar el modelo en un archivo
joblib.dump(modelo, 'modelo_rf.joblib')

['modelo_rf.joblib']

In [6]:
df3.loc[0,:]

credit_score              619
age                        42
tenure                      2
balance                   0.0
products_number             1
credit_card                 1
active_member               1
estimated_salary    101348.88
churn                       1
country_France           True
country_Germany         False
country_Spain           False
gender_Female            True
gender_Male             False
Name: 0, dtype: object

In [7]:
df3.loc[0,:].values

array([619, 42, 2, 0.0, 1, 1, 1, 101348.88, 1, True, False, False, True,
       False], dtype=object)

En un programa aparte, con el modelo en la carpeta

In [13]:
import joblib

# Cargar el modelo desde el archivo
modelo_cargado = joblib.load('modelo_rf.joblib')

clientes = [
    [619, 42, 2, 0.0, 1, 1, 1, 101348.88,  True, False, False, True,
       False],
    [819, 62, 2, 0.0, 1, 1, 1, 10148.88,  True, False, False, True,
       False]

]
# Usar el modelo cargado
predicciones = modelo_cargado.predict_proba(clientes)
print(predicciones)

[[0.61920705 0.38079295]
 [0.2852103  0.7147897 ]]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(