<a href="https://colab.research.google.com/github/RafaelCaballero/BME/blob/main/c%C3%B3digo/proyecto3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Curso Python – Proyecto 3
El siguiente fichero contiene datos de diferentes vinos
"https://raw.githubusercontent.com/RafaelCaballero/tdm/master/datos/wines_SPA.csv"

1) Cargar el fichero y dejarlo en un dataframe df

In [ ]:
import pandas as pd
# Solución


df

2) ¿Cuántas filas y columnas tiene?

In [ ]:
# Solución

3) Escribir instrucciones para ver datos básicos del dataframe. En particular nos interesa determinar ¿hay nulos en alguna columna? ¿cuál es el precio del vino más caro? ¿y del más barato?

In [ ]:
# Solución

4) Mostrar solo la columna type

In [ ]:
# Solución

5) Mostrar solo las columnas type y body

In [ ]:
# Solución

6) Mostrar solo el vino que ocupa la 5ª posición en el dataframe

In [ ]:
# Solución

7) Obtener los valores diferentes de la columna `region` y la frecuencia de cada uno de ellos

In [ ]:
# solución

8) Cambiar la región del segundo vino (fila 1) a  'Vino de España'

In [ ]:
# solución

9) ¿Cuál es el valor máximo de la columna rating? (ayuda: aplicar la función max() tras el nombre de la columna)

In [ ]:
# Solución

10.- Crear un nuevo dataframe df2 que solo tenga las columnas ```winery	wine	year price	type	body	acidity```. Grabar el resultado en un fichero excel "wines.xlsx"

In [ ]:
# Solución